@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
/*reg*/
body{
    font-family: 'Poppins', sans-serif;
  }
  .navbar-default .navbar-nav>li>a.login-link{
    color: #fff;
margin-left: 33px;
padding: 11px 27px 13px;
border-radius: 30px;
box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
background-color: #48baed;
font-size: 16px;
font-weight: 500;
cursor: pointer;
  }
  .bg-brown {
background: #f4f6fc;
}
.p-b-100 {
padding-bottom: 100px;
}
.p-t-180 {
padding-top: 137px;
}
/* .wrapper--w960 {
max-width: 960px;
} */
.wrapper {
margin: 0 auto;
}
.card-log-2 {
-webkit-box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 34px;
width: 100%;
display: flex;
}
.card-log {
overflow: hidden;
background: #fff;
}

.card-log-2 .card-heading {
    background: url(images/Register-img.png) center/cover no-repeat;
    width: 50%;
    display: table-cell;
    }
.card-log-2 .card-body {
width: 50%;
padding: 30px 70px 0;
}
.log-title {
font-weight: 700;
margin-bottom: 37px;
color: #48baed;width: 50%;
}
.input-group {
position: relative;
margin-bottom: 32px;
border-bottom: 1px solid #e5e5e5;
}
.input--style-2 {
padding: 9px 0;
color: #666;
font-size: 16px;
font-weight: 500;
}
input {
outline: none;
margin: 0;
border: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
width: 100%;
}
.row-space {
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-moz-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}
.row {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.col-2 {
width: -webkit-calc((100% - 60px) / 2);
width: -moz-calc((100% - 60px) / 2);
width: calc((100% - 60px) / 2);
}
.input-icon {
position: absolute;
font-size: 18px;
color: #ccc;
right: 8px;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
.left-inner-addon {
position: relative;
}
.left-inner-addon input {
padding-left: 58px;
height: 60px;        font-size: 16px; margin-bottom: 0;
}
.left-inner-addon img {
position: absolute;
pointer-events: none;
width: 36px;
height: auto;
top: 12px;
left: 15px;
}
.input-field {
        width: 100%;
        padding: 10px;
    }
    .w-100{
        width: 100%;
    }
    .row {
margin-left: -20px;
margin-right: -20px;
}
.btn.registerbtn{
color: #fff;
background: #48baed;
padding: 14px;
font-size: 24px;font-weight: 600;
margin: 30px 0; border-radius: 10px;
box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);    border: none;
}   
.btn.registerbtn:hover, .btn.registerbtn:focus, .btn.registerbtn:active, .btn.registerbtn:focus-visible,   .navbar-default .navbar-nav>li>a.login-link:hover {
color: #fff;
background: #3cb2e7;
box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); 
   outline: none;
}
.headings{
 font-size: 30px;
 line-height: 30px;font-weight: bold;
} 
.right-heading{
color: #cccccc;position: relative;padding-left: 21%; width: 50%;
}
.right-heading.reg{
color: #cccccc;position: relative;padding-left: 11%; width: 50%;float: left;
}
.right-heading:after{
position: absolute; 
right: 0; 
top: -3px; 
content: url("images/right-arrow-circular-button-outline.png"); 
}
.input-style input{
border-radius: 10px;
border: solid 1px rgba(72, 186, 237, 0.3);
background-color: #f7f7f7;
font-size: 16px;
font-weight: 500;margin-bottom: 20px;
padding: 12px 15px 12px 70px;
}
.navbar-default {
background-color: #f4f6fc;
border-color: transparent;
padding: 43px 0 46px;
}
.navbar .nav>li>a {
padding: 11px 17px 14px;
color: #000;
text-shadow: none;
font-weight: 500;
font-size: 16px;
}
.navbar-brand {
padding: 0;
padding-left: 15px;
}
#remember-pwd {    
display: flex;    
  flex-direction: row;
  justify-content: space-between;    margin-bottom: 20px;
}
.psw{
color: #48baed;font-size: 16px;
font-weight: 600;
}
.psw:hover{
color: #429ecf;
text-decoration: none;
}
.remember-check{
color: #2d2d2d;
font-size: 16px;
font-weight: 600;    margin-left: 34px;
}

/*checkox css */
input[type=checkbox] {
position: absolute;
cursor: pointer;
width: 0px;
height: 0px;
}

input[type=checkbox]:checked:before {
  content: "";
  display: block;
position: absolute;
width: 24px;
height: 24px;
border: 2px solid #5ebbed;
border-radius: 20px;
background-color: #ffffff; 
transition: all 0.2s linear;
}


input[type=checkbox]:before {
content: "";
display: block;
position: absolute;
width: 24px;
height: 24px;
border-radius: 5px;
border: solid 2px rgba(72, 186, 237, 0.3);
background-color: #fff;    top: -6px;
}


input[type=checkbox]:after {
content: "";
display: block;
width: 0px;
height: 0px;
border: solid 2px rgba(72, 186, 237, 0.3);;
border-width: 0 0px 0px 0;
-webkit-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
position: absolute;
top: 0px;
left: 35px;
transition: all 0.2s linear;
}

input[type=checkbox]:checked:after {
content: "";
display: block;
width: 8px;
height: 15px;
border:solid #5ebbed;
border-width: 0 2px 2px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
position: absolute;
top: -3px;
left: 8px;
}

/*checkbox css*/
/*reg*/
/*log*/
.card-log-2 .card-heading.log-head {
    /* background-image: url(images/Card\ Base.png); */
   
   -webkit-backdrop-filter: blur(10.9px);
   backdrop-filter: blur(10.9px);
   box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.03);
   background: linear-gradient(rgba(0,0,0,0.53),rgba(0,0,0,0.53)), url(images/Card\ Base.png);
   color: #fff;
   background-size: auto;
   background-repeat: no-repeat;
   padding: 60px;
   background-position: center;
}
/* .card-log-2 .card-heading.log-head:after {
    opacity: 0.53;
    -webkit-backdrop-filter: blur(10.9px);
    backdrop-filter: blur(10.9px);
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.03);
    background-color: #000;
    content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
} */
.wel-head{
    font-size: 50px;
    font-weight: bold;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.wel-para{
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
/*log*/
.superlog-title {
    font-weight: 700;
    margin-bottom: 37px;
    color: #48baed;
    width: 100%;
}
.card-log-2 .card-heading-forgot {
    background: url(images/Forgot\ Password-img.png) center/cover no-repeat;
    width: 50%;
    display: table-cell;
    }
    .card-log-2 .card-body-forgot {
        display: table-cell;
        padding: 129px 70px 222px;
        width: 50%;
    }
    /* .content {
        align-items:center;
        bottom:0;
        color:white;
        display:flex;
        flex-wrap:wrap;
        font-family:sans-serif;
        justify-content:center;
        left:0;
        padding:20vw;
        position:fixed;
        right:0;
        text-align:center;
        top:0;
      } */
      .log-head h1{
        font-size: 50px;
        font-weight: bold;
        line-height: 1.24;
        letter-spacing: normal;
        text-align: left;
        margin: 100px 0 0;
        width: 54%;
      }
    
    .log-head p{
        font-size: 19px;
    margin: 30px 0 0;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 100px;
    }
    .card-log form {
        float: left;
        width: 100%;
    }
    .card-log-2 .card-body.login-body{
        padding-top: 130px;
    }
    .okay {
        padding: 203px 0;
        width: 60%;
        margin: auto;
    }
    .okay h1{
        font-size: 54px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #48baed;
    }
    .okay p{
        font-size: 43px;
        font-weight: normal;
        line-height: 1.51;
        letter-spacing: normal;
        text-align: left;
        color: #5d5d5d;
    }

/*dashboard*/
#top-nav .navbar-brand {
    padding-left: 0px; 
}
#top-nav.navbar-inverse
{
    background:#f4f6fc;
    border-bottom: none;    padding: 19px 23px;
}
#top-nav.navbar-inverse .navbar-collapse {
    border-color: #101010;
}
#top-nav.navbar-inverse .navbar-nav>li>a,#top-nav.navbar-inverse .navbar-brand,#top-nav.navbar-inverse .navbar-nav>.dropdown>a .caret
{
    color: #fff;
    padding: 0;
}
#top-nav.navbar-inverse .navbar-nav>.open>a, #top-nav.navbar-inverse .navbar-nav>.open>a:hover, #top-nav.navbar-inverse .navbar-nav>.open>a:focus,
#top-nav.navbar-nav>li>.dropdown-menu
{
    background:#4DB6AC;
}
#top-nav .nav-pills>li>a
{
    color: #303F9F;
}

#top-nav nav>li>a:hover, .nav>li>a:focus{

    background-color: #EEEEEE;
}

.side-menu{
    background-color: #f4f6fc;    padding: 0;
}
.side-menu .nav-pills.nav-stacked>li>a{
    padding: 25px 40px;
    font-size: 16px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: left;
  color: #48baed;
  border-radius: 0;
}
.side-menu .nav-pills.nav-stacked>li>a:hover, .side-menu .nav-pills.nav-stacked>li>a:focus{
    background-color: #48baed;
    
    box-shadow: 0 6px 5px 0 rgba(72, 186, 237, 0.25);
    color: #fff;
}
.profile-top .card-horizontal {
    display: flex;
    flex: 1 1 auto;
    
    align-items: center;
  }
  .profile-top h4{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .profile-top p{
    font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #000;
  margin: 0;
  }
  .profile-top .card-body {
    margin-left: 10px;
}
#top-nav .navbar .nav>li>a {
    padding: 0;
}
#top-nav.navbar .nav {
    margin: 0;
}
li.profile-top {
    margin-right: 50px;
}
.inner-dashboard{
    padding: 0;
    padding: 18px 27.3px;
}
.boxes {
    display: flex;
}
.box-1{
    padding: 17px 23px;
    border-radius: 10px;
    border: solid 1px #48baed;    margin-right: 29px;
}
.box-1 h6{
    font-size: 19px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6fd3ff;
    margin: 0;
    padding: 0;
}
.numbering {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.numbering p{
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    letter-spacing: normal;
    color: #5d5d5d;
}
.numbering span{
    font-size: 17px;
  color: #70d600;    margin-left: 10px;
}
.customer-table caption{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-align: left;
    color: #5d5d5d;
    padding: 17px 0;
}
.customer-table thead tr th{
    font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.28px;
  text-align: left;
  color: #48baed;
  
  padding: 14px 27px;
}
.customer-table tbody tr td{
    font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.12px;
  text-align: left;
  color: #707070;
  padding: 14px 27px;
}
.customer-table tbody tr td.email-style{
    color: #48baed;
    font-weight: bold;
}
.customer-table tbody tr td .table-image img{
    margin-right: 10px;
}
/*dashboard*/



    @media only screen and (max-width: 767px) {
        .p-t-180 {
            padding-top: 20px;
        }
        
        .p-b-100 {
            padding-bottom: 20px;
        }
        .headings {
            font-size: 18px;
        }
        .right-heading {
            padding-left: 15%;
        }
        .card-log-2 {
            display: block;
        }
        .card-log-2 .card-heading {
            display: none;
        }
        .card-log-2 .card-body {
            width: 100%;
            padding: 30px;
        }
      }